*{
    box-sizing: border-box;
    border: 2px solid red;
}

#content{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-bottom: 75vh;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom:40px;
}
.icon{
    padding: 10px;
}
.select{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
}
h1{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.homebtn{
    margin: 20px;
    padding: 5px;
}
.orderbtn{
    margin: 20px;
    padding: 5px;
}
.contactbtn{
    margin: 20px;
    padding: 5px;
}
footer{
    display: flex;
    justify-content: center;
    padding: 5px;
}
